
<div class="landing-wrapper">
    <div class="banner">
        <video loop muted autoplay playsinline class="background-video">
            <source src="videos/landing-bg-3.mp4" type="video/mp4">
        </video>
        <div class="overlay"></div>
        <div class="banner-content">
            <h1>Connecting vessels, <br> markets, and opportunities</h1>
        </div>
        <div class="scroll-down-arrow">
            <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4"/>
            </svg>
        </div>
    </div>

    <section class="global-reach-section" >
        <div class="global-reach-txt-wrapper">
            <p class="global-reach-txt">
                From Panama to the world, we link shipowners, operators, 
                and clients through secure, transparent, and efficient maritime operations.
            </p>
        </div>
        <div class="global-reach-img-wrapper">
            <img src="img/img-global-reach-1.webp" alt="global-reach-image" class="global-reach-img">
        </div>
    </section>

    <div class="about-primary-txt-wrapper">
        <p class="about-primary-txt" a>
            CAD Marine is a maritime consulting firm based in Panama, specializing in ship broking and marine services. 
            We connect international players to ensure smooth, profitable, and compliant operations across global routes. 
            Our commitment is simple: act with integrity, deliver with precision, and build trust that lasts.
        </p>
    </div>

    <div class="about-primary-img-wrapper">    
        <img src="img/img-2.webp"  alt="about-primary-image" class="about-primary-img">
        <img src="logos/cad-marine-blanco-2.png"  alt="cad-marine-logo" class="about-primary-img-logo">     
    </div>

    <section class="about-us-section">
        <div class="about-us-txt-wrapper">
            <div class="about-us-title">
                <h1>About Us</h1>
                <span>Ethics, precision, and a global perspective.</span>
            </div>
            <div class="about-us-txt">
                <p>
                    We are a team of maritime professionals driven by reliability, clarity, 
                    and strategic insight. From our headquarters in Panama, one of the world’s
                    most vital maritime hubs, we provide brokerage, bunkering, and advisory services 
                    that empower our clients to make smarter, faster, and safer decisions.
                </p>
            </div>
        </div>
    </section>


    <section class="mvp-section">
        <div class="mvp-content mission-bg" >
            <div class="mvp-title">
                <h1>Mission</h1>
            </div>
            <div class="mvp-text">
                <p>
                    To deliver maritime brokerage and consultancy services that generate real value for 
                    our clients through trustworthy, efficient, and transparent processes, leveraging Panama’s 
                    strategic position as a global logistics center.
                </p>
            </div>
        </div>
        <div class="mvp-content vision-bg">
            <div class="mvp-title">
                <h1>Vision</h1>
            </div>
            <div class="mvp-text">
                <p>
                    To become a global benchmark in ship broking and marine services, recognized for our 
                    ethics, trust, and capacity to deliver effective solutions in a changing industry.
                </p>
            </div>
        </div>
        <div class="mvp-content purpose-bg">
            <div class="mvp-title">
                <h1>Purpose</h1>
            </div>
            <div class="mvp-text">
                <p>
                    To be the most reliable strategic partner in the maritime market, connecting shipowners, 
                    operators, and clients with complete transparency and efficiency.
                </p>
            </div>
        </div>
    </section>

    <section class="services-section">
        <div class="services-content">
            <div class="services-text-container">
                <div class="services-title">
                    <h1>Services</h1>
                    <span>At CAD Marine, we integrate the essential pillars of maritime commerce:</span>
                </div>
                <div class="services-text">
                    <ul>
                        <li>Ship broking and chartering</li>
                        <li>Maritime consultancy</li>
                        <li>Market analysis and advisory</li>
                        <li>Vessel operations support</li>
                        <li>Strategic connections between shipowners, operators, and clients</li>
                        <li>Bunkering and logistics</li>
                    </ul>
                </div>
            </div>
            <div class="services-img-container">
                <img src="img/img-6.webp" alt="" class="services-img">
            </div>  
        </div>
    </section>

    <section class="solutions-section">
        <div class="solutions-title">
            <h1>Explore our solutions</h1>
        </div>
        <div class="solutions-container">
            <a class="sipbroker-container solutions-item" routerLink="/cad-shipbroker">    
                <img src="logos/cad-shipbroker-blanco-color.png" alt="logo-cad-shipbroker-blanco-color" class="logo-solutions">
            </a>
            <a class="bunkering-container solutions-item" routerLink="/cad-bunkering">
                <img src="logos/cad-bunkering-blanco-color.png" alt="logo-cad-bunkering-blanco-color" class="logo-solutions">  
            </a>  
        </div>
    </section>

    <section class="values-section">
        <div class="values-title">
            <h1>Values</h1>
        </div>
        <div class="values-container">
            <div class="value-item">
                <div class="img-container">
                    <img src="img/img-integrity.webp" alt="integrity-image">
                </div>
                <div class="values-text-container">
                    <h2>Integrity</h2>
                    <span>We act with honesty and transparency in every negotiation.</span>
                </div>
            </div>
            <div class="value-item">
                <div class="img-container">
                    <img src="img/img-operational-excellence.webp" alt="image-operational-excellence">
                </div>
                <div class="values-text-container">
                    <h2>Operational Excellence</h2>
                    <span>We are committed to precision, efficiency, and high-quality results.</span>
                </div>
            </div>
            <div class="value-item">
                <div class="img-container">
                    <img src="img/img-accountability.webp" alt="image-accountability">
                </div>
                <div class="values-text-container">
                    <h2>Accountablity</h2>
                    <span>We uphold our commitments to clients, partners, and the environment.</span>
                </div>
            </div>
            <div class="value-item">
                <div class="img-container">
                    <img src="img/img-innovation.webp" alt="image-innovation">
                </div>
                <div class="values-text-container">
                    <h2>Innovation</h2>
                    <span>We embrace change and technology to optimize operations.</span>
                </div>
            </div>
            <div class="value-item">
                <div class="img-container">
                    <img src="img/img-global-vision.webp" alt="">
                </div>
                <div class="values-text-container">
                    <h2>Global Vision</h2>
                    <span>We bridge Panama to the world through expertise and connection.</span>
                </div>
            </div>
        </div>
    </section>

    <section class="global-section">  
        <div class="global-txt-wrapper">
            <h1>Global Reach</h1>
            <p>
                Through a strong network of partners and suppliers, CAD Marine operates 
                across the Americas, Europe, and Asia. We support vessels and clients in 
                energy, bulk, tanker, and project cargo segments, ensuring reliable coordination in every port of call.
            </p>
            <button class="btn-primary" routerLink="/contact">Learn More</button>
        </div>
        <div class="global-img-wrapper">
            <img src="img/img-global.png">
            <span>From Panama, we connect to the routes that move the world.</span>
        </div>
    </section>

    <!-- Sección de Noticia en Desarrollo -->
     <section class="news-section" id="news">
        <div class="news-container">
            <div class="news-title">
                <h1>News</h1>
            </div>
            <div class="news-grid">
                
                <div class="featured-card">
                    <h1>Featured</h1>
                    <div class="img-news-wrapper">
                        <img src="img/img-news-section.webp" alt="">
                    </div>
                    <div class="featured-content">
                        <span class="category">FEATURE</span>
                        <a [routerLink]="['/news', feauturedNews?.id]">
                            <h3>{{feauturedNews?.title}}</h3>
                        </a>
                        <div class="meta-featured">
                            <p class="subtitle">{{ feauturedNews?.edition }}</p>
                            <span class="date">{{ feauturedNews?.date.toDate() | date:'MMMM yyyy'  }}</span>
                        </div>   
                    </div>
                </div>
                <div class="news-list">
                    <div class="news-item" *ngFor="let item of olderNews">
                        <span class="category">OLDEST</span>
                        <a [routerLink]="['/news', item.id]">
                            <h3>{{ item.title }}</h3>
                        </a>
                        <div class="meta">
                            <span>{{ item.edition }}</span>
                            <span class="date">{{ item.date.toDate() | date:'MMMM yyyy' }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </section>

    <section class="final-section">
        <img src="logos/cad-marine-blanco-2.png" alt="cad-marine-logo">
        <img src="img/img-final-cad.webp" alt="img-final-ship" >
    </section>
    
</div>  