/*--- ESTILOS DE LA NAVBAR ---*/

.logo-navbar{
    height: auto;
    max-width: 150px;
}

.navbar{
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    z-index: 1000;
    transition: all 0.4s ease;
    box-sizing: border-box;
}

.navbar.scrolled{
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main-navigation{
    list-style: none;
    display: flex;
    gap: 2rem;
}

.main-navigation li a{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}

.navbar.scrolled .main-navigation li a {
    color: black
}


.main-navigation li a:hover{
    color: var(--primary-color);
    transition: 600ms ease;
}


