/*--- ESTILOS DE LA NAVBAR ---*/

.logo-navbar{
    height: auto;
    max-width: 150px;
}

.navbar{
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    z-index: 1000;
    transition: all 0.4s ease;
    box-sizing: border-box;
}

.route-active{
    color: var(--primary-color);
}

.navbar.scrolled{
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0.5rem 3rem;
}

.main-navigation{
    list-style: none;
    display: flex;
    gap: 2rem;
}

.main-navigation li a{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}

.navbar.scrolled .main-navigation li a {
    color: black
}


.main-navigation li a:hover{
    color: var(--primary-color);
    transition: 600ms ease;
}


.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 1000;
}

.bar {   
    color: white;
    transition: color 0.3s ease;
}


.bar.scrolled {
    color: black; 
}

@media (max-width: 768px) {
    .menu-toggle {
        display: flex;
    }

    .main-navigation {
        display: none; 
        position: absolute; 
        top: 80%; 
        left: 0;
        width: 100%; 
        background-color: white; 
        flex-direction: column;
        align-items: center;
        padding: 2rem 0;
    }


    .main-navigation.active {
        display: flex; 
    }


    .main-navigation li {
        margin: 1.5rem 0;
    }


    .main-navigation li a {
        color: black; 
        font-size: 1.2rem;
    }

    .main-navigation li a:hover {
        color: var(--primary-color);
    }

    .navbar{
        padding: 3%;
    }

    .navbar.scrolled{
        padding: 3%;
    }

    .logo-navbar{
        width: 120px;
    }
}


