<nav class="navbar" [class.scrolled]="isScrolled">
    <a routerLink="/home">
        <img class="logo-navbar" 
        [src]="isScrolled ? 'logos/cad-marine-color-2.png' : 'logos/cad-marine-blanco-2.png'" 
        alt="logo-cad-marine" (click)="closeMenu()">
    </a>
    <ul class="main-navigation" [class.active]="isMenuOpen">
        <li><a routerLink="/cad-shipbroker" routerLinkActive="route-active" (click)="closeMenu()">CAD Shipbroker</a></li>
        <li><a routerLink="/cad-bunkering" routerLinkActive="active" (click)="closeMenu()" >CAD Bunkering</a></li>
        <li><a [routerLink]="['/home']" fragment="news"  routerLinkActive="active" (click)="closeMenu()" >News</a></li>
        <li><a routerLink="/contact" (click)="closeMenu()">Contact us</a></li>
    </ul>

    <div class="menu-toggle" (click)="toggleNavbar()">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" class="bi bi-justify bar" viewBox="0 0 16 16" [class.scrolled]="isScrolled || isMenuOpen">
            <path fill="currentColor" fill-rule="evenodd" d="M2 12.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5"/>
        </svg>
    </div>
</nav>


