/* Banner */

.contact-banner{
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    height: 70dvh;
    overflow: hidden;
    flex-shrink: 0;
}

.contact-overlay-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2));
    pointer-events: none;
    z-index: 1;
}

.contact-banner-img{
    position: absolute;
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: 0;
}

.contact-banner-content{
    position: absolute;
    z-index: 2;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}

.contact-banner-content h1{
    font-size: clamp(1.5rem, 6vw, 3rem);
    font-weight: 600;
    margin-top: 10;
    padding: 0;
}

/* Breadcrumbs */

.breadcrumbs{
    font-size: clamp(0.5rem, 2.5vw, 1rem);
}

.breadcrumbs ul{
    list-style: none;
    padding-inline: 3%;
    display: flex;
    gap: 1rem;
}

.breadcrumbs li a{
    text-decoration: none;
    color: white;
}

/* Contact Title Section */

.contact-title-wrapper{
    padding: 3%;
    margin-block: 2rem;
}

.contact-title-wrapper h1{
    font-size: clamp(1.5rem, 6vw, 4rem);
    font-weight: 600;
    margin: 0;
}

.contact-title-wrapper span{
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-weight: 200;
}

.contact-form-wrapper{
    display: flex;
    flex-wrap: wrap;
    padding-inline: 3%;
    justify-content: center;
    gap: clamp(2rem, 4vw, 5rem);
}

.connect-title h1{
    font-size: clamp(1.5rem, 4vw, 2rem);
    font-weight: 600;
    margin: 0;
}

.input-group{
    position: relative;
    margin-bottom: 3rem;
    width: 300px;
}

.input-field{
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    padding: 10px 0;
    color: white;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s;
}

.input-group svg{
    position: absolute;
    right: 0;
    top: 10px;
}

.separation-line{
    margin-block: 4rem;
    width: 85%;
}



/* Talk to us Section */

.talk-to-us{
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
    gap: clamp(2rem, 4vw, 5rem);
}

.talk-to-us-title{
    text-align: center;
}

.talk-to-us-title h1{
    font-size: clamp(1.5rem, 4vw, 3rem);
    font-weight: 600;
    margin: 0;
}

.talk-to-us-title span{
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-weight: 200;
}

.information-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
    gap: clamp(3rem, 5vw, 10rem);
}

.information-title{
    display: flex;
    align-items: center;
    gap: 10px;
}

.information-title h2{
    font-size: clamp(1rem, 3vw, 2rem);
    font-weight: 600;
    margin: 0;
}


.information-card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.information-card span{
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-weight: 200;
}

@media (max-width: 768px) {
    .information-card{
        align-items: center;
    }
}

