.news-banner{
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    height: 70dvh;
    overflow: hidden;
    flex-shrink: 0;
}

.news-overlay-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2));
    pointer-events: none;
    z-index: 1;
}

.news-banner-img{
    position: absolute;
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: 0;
}

.news-banner-content{
    position: absolute;
    z-index: 2;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}

.news-banner-content h1{
    font-size: clamp(1.5rem, 6vw, 3rem);
    font-weight: 600;
    margin-top: 10;
    padding: 0;
}


/* News */

.news-hero-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block: 3%;
}



.news-hero{
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    text-align: justify;
}

.content-wrapper{
    margin-bottom: 2%;
}

.img-container{
    display: flex;
    height: 100%;
    max-width: 100%;
    margin-bottom: 5%;
    align-items: center;
    justify-content: center;
}

.img-container img{
    object-fit: cover;
    display: block;
    max-width: 70%;
    height: 100%;
}





