/* Background image */

.background-img{
    position: absolute;
    max-width: 100%;
    min-height: 100dvh;
    object-fit: cover;
    z-index: 0;
}

.logo-cad-shipbroker{
    width: 20dvh;
    height: auto;
}

.banner-content{
    position: absolute;
    z-index: 2;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}

.banner-content h1{
    font-size: clamp(1rem, 6vw, 3rem);
    font-weight: 600;
    margin-top: 10;
    padding: 0;
}

/* Primary Section */

.primary-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-block: 5%;
}

.primary-text-wrapper{
    padding: 3%;
}

.primary-text-wrapper p{
    font-weight: 300;
    text-align: center;
    line-height: 1.5;
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    max-width: 100%;
}

.primary-img-wrapper{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.primary-img-wrapper img{
    display: block;
    max-width: 80%;
    min-width: 350px;
    height: auto;
}

/* Services Sections */

.services-section{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin-block: 5%;
}

.title-wrapper h1{
    font-size: clamp(1.5rem, 6vw, 4rem);
    font-weight: 600;
    margin-inline: 3%;
    padding: 0;
    line-height: 1.2;
}

.cards-wrapper{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

.card{
    flex: 1 1 250px;
    min-height: clamp(350px, 50vw, 650px);
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-content: center; 
    background-size: cover;
    background-position: center;
    overflow: hidden;
    box-sizing: border-box;
}

.chartering-bg{ background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/img/img-3-broker.webp'); }
.cargo-bg{ background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/img/img-4-broker.webp'); }
.documentation-bg{ background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/img/img-5-broker.webp'); }
.market-bg{ background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/img/img-6-broker.webp'); }


.card-title {
    max-height: 80px; 
    display: flex;
    align-items: center;
}

.card-title h1{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: clamp(1rem, 2vw, 2rem);
}

.card-title h1::before {
    content: "";
    display: block;
    width: 50px;       
    height: 3px;        
    background-color: white;
}

.card-text{
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.card-text p {
    max-width: 90%;
    text-align: center;
    font-weight: 300;
    line-height: 1.5;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
}

/* Adventages Section */

.advantages-section{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0;
    padding-inline: 3%;
}

.advantages-title h1{
    font-size: clamp(1.5rem, 6vw, 4rem);
    font-weight: 600;
    
    line-height: 1.2;
}

.advantages-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
}

.adv-text-wrapper{
    flex: 1 1 400px;
    min-width: 300px;
    padding-inline: 30px;
}

.adv-list{
    list-style: none;
    padding: 0;
    margin-bottom: 40px;
}

.adv-list li{
    font-weight: 300;
    line-height: 1.5;
    font-size: clamp(0.8rem, 2.5vw, 1.5rem);
    padding-block: 40px;
    border-bottom: 2px solid white;
}

.adv-img-wrapper{
    flex: 1 1 400px;
    min-width: 300px;
    display: flex;
    justify-content: flex-end;
}


.adv-img-wrapper img{
    width: 100%;
    height: auto;
    min-height: 400px;
    object-fit: cover;
}

@media (max-width: 768px) {
    .advantages-wrapper{
        gap: 30px;
    }

    .adv-text-wrapper{
        padding-inline: 10px;
    }

    .adv-list li{  
        padding-block: 20px;
    }   
}

/* Final Logo Section */


.logo-img-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    margin-block: 5%;
}

.logo-img-wrapper img{
    display: block;
    height: auto;
    max-width: 250px;
    min-width: 150px;
}
