/* Background image */

.background-img{
    position: absolute;
    max-width: 100%;
    min-height: 100dvh;
    object-fit: cover;
    z-index: 0;
}

.logo-cad-bunkering{
    width: 20dvh;
    height: auto;
}

.banner-content{
    position: absolute;
    z-index: 2;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}

.banner-content h1{
    font-size: clamp(1rem, 6vw, 3rem);
    font-weight: 600;
    margin-top: 10;
    padding: 0;
}

/* Primary Section */

.primary-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-block: 5%;
}

.primary-text-wrapper{
    padding: 3%;
}

.primary-text-wrapper p{
    font-weight: 300;
    text-align: center;
    line-height: 1.5;
    font-size: clamp(0.5rem, 2.5vw, 1.5rem);
    max-width: 100%;
}

/* Services Section */

.services-section{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin-block: 5%;
}

.title-wrapper h1{
    font-size: clamp(1.5rem, 6vw, 4rem);
    font-weight: 600;
    margin-inline: 3%;
    padding: 0;
    line-height: 1.2;
}

.cards-wrapper{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

.card{
    flex: 1 1 250px;
    min-height: clamp(350px, 50vw, 650px);
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-content: center; 
    background-size: cover;
    background-position: center;
    overflow: hidden;
    box-sizing: border-box;
}

.fuel-bg{ background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../../assets/img/img-1-bunkering.webp'); }
.negotation-bg{ background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../../assets/img/img-2-bunkering.webp'); }
.coordination-bg{ background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../../assets/img/img-3-bunkering.webp'); }


.card-title {
    max-height: 80px; 
    display: flex;
    align-items: center;
}

.card-title h1{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: clamp(1rem, 2vw, 2rem);
}

.card-title h1::before {
    content: "";
    display: block;
    width: 50px;       
    height: 3px;        
    background-color: white;
}

.card-text{
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.card-text p {
    max-width: 90%;
    text-align: center;
    font-weight: 300;
    line-height: 1.5;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
}


/* Bunkering Section */

.bunkering-section{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin-block: 5%;
    padding-inline: 3%;
}

.bunkering-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    margin-block: 5%;
    width: 100%;
}

.bunkering-img-wrapper{
    flex: 1 1 350px; 
    min-height: 250px; 
    position: relative;
}

.bunkering-img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.bunkering-text-wrapper{
    flex: 1 1 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    position: relative;
}


.bunkering-text-wrapper h1{
    font-size: clamp(1.5rem, 4vw, 4rem);
    font-weight: 600;
    margin: 0;
    padding: 0;
    line-height: 1.2;
}

.bunkering-text-wrapper li{
    font-weight: 300;
    line-height: 1.5;
    font-size: clamp(0.5rem, 2.5vw, 1.5rem);
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .bunkering-wrapper{
        gap: 1rem
    }
}

/* Final Logo Section */

.logo-img-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    margin-block: 5%;
}

.logo-img-wrapper img{
    display: block;
    height: auto;
    max-width: 250px;
    min-width: 150px;
}



