/* You can add global styles to this file, and also import other style files */
:root{
    --primary-color: #fb8663;
}

.primary-color{
    color: var(--primary-color);
}

body{
    font-family: "Alexandria", sans-serif;
    margin: 0;
    padding: 0;
    background: #272727;
    overflow-x: hidden;
    overflow-y: auto;
    color: white;
}


/* Global styles for banner section */

.banner{
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    height: 100vh;
    overflow: hidden;
    flex-shrink: 0;
}

.overlay-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.6));
    pointer-events: none;
    z-index: 1;
}

/* Button Style */

.btn-primary{
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 25px;
    font-size: clamp(0.75rem, 2.5vw, 1rem);
    cursor: pointer;
    font-weight: 500;
    transition: opcacity 0.3s ease;
}

.btn-primary:hover{
   background-color: black;
    transition: 600ms ease;
}


